{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      {% include "inc/header.html" %}
  </head>

  <body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    {% include "inc/navbar.html" %}

    {% include "inc/messages.html" %}

    {% block content %}
    

    {% endblock  %}


    <footer>
        {% include "inc/footer.html" %}
    </footer>

  </body>
</html>
